In [1]:
from datetime import datetime
from strategy.stratfact import StratFact
from backtester.backtester import Backtester

In [2]:
start = datetime(2016,1,1)
end = datetime(2021,1,1)

In [3]:
# rp = StratFact.create_strat(start,end,"rolling_percent",params= {"timeframe":"daily"
#                 ,"requirement":5
#                 ,"days":7
#                 ,"value":True
#                 ,"currency":"crypto"})
# pr = StratFact.create_strat(start,end,"progress_report",params={"timeframe":"quarterly"
#                     ,"requirement":5})
# fp = StratFact.create_strat(start,end,"financial_predict",{})
s = StratFact.create_strat(start,end,"speculation",{})

In [4]:
# rpt = Backtester.equity_timeseries_backtest(start,end,5,rp)

In [5]:
# pr = Backtester.equity_timeseries_backtest(start,end,5,rp)

In [6]:
# fpb = Backtester.equity_timeseries_backtest(start,end,4,fp)

In [7]:
sb = Backtester.equity_timeseries_backtest(start,end,5,s)
sb

single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds

,date,adjClose,ticker,seat,sell_date,sell_price,timeframe,score_requirement,requirement,category_training_year,model_training_year,number_of_training_weeks,value
0,2016-03-28,26.160000,CTLT,0,2016-04-05,27.468000,weekly,70,5,4,2,14,True
1,2016-04-06,27.740000,CTLT,0,2016-04-13,29.127000,weekly,70,5,4,2,14,True
2,2016-04-18,635.350000,AMZN,0,2016-05-02,667.117500,weekly,70,5,4,2,14,True
3,2016-05-03,671.320000,AMZN,0,2016-05-11,704.886000,weekly,70,5,4,2,14,True
4,2016-05-12,23.800000,CTLT,0,2016-05-16,24.990000,weekly,70,5,4,2,14,True
5,2016-05-17,695.270000,AMZN,0,2016-07-06,730.033500,weekly,70,5,4,2,14,True
6,2016-09-20,25.220344,WY,0,2016-09-22,26.481362,weekly,70,5,4,2,14,True
7,2020-01-13,168.100000,ABMD,0,2020-01-15,176.505000,weekly,70,5,4,2,14,True
8,2020-02-03,48.034997,CAH,0,2020-02-06,50.436747,weekly,70,5,4,2,14,True
9,2020-02-24,51.330000,ETSY,0,2020-02-27,53.896500,weekly,70,5,4,2,14,True
10,2020-02-28,84.816619,AEP,0,2020-03-02,89.057450,weekly,70,5,4,2,14,True
11,2020-03-12,44.040000,ETSY,0,2020-03-13,46.242000,weekly,70,5,4,2,14,True
12,2020-03-19,34.660000,ETSY,0,2020-03-24,36.393000,weekly,70,5,4,2,14,True
13,2020-03-25,69.641609,AEP,0,2020-03-26,73.123689,weekly,70,5,4,2,14,True
14,2016-05-13,60.765922,CAT,1,2016-06-02,63.804219,weekly,70,5,4,2,14,True
15,2016-06-27,33.624834,C,1,2016-06-28,35.306075,weekly,70,5,4,2,14,True
16,2016-09-09,25.514975,WY,1,2016-09-22,26.790723,weekly,70,5,4,2,14,True
17,2020-01-13,47.266587,CAH,1,2020-01-15,49.629916,weekly,70,5,4,2,14,True
18,2020-03-12,136.970000,ABMD,1,2020-03-17,143.818500,weekly,70,5,4,2,14,True
19,2020-03-19,140.510000,ABMD,1,2020-03-26,147.535500,weekly,70,5,4,2,14,True
20,2020-04-01,35.450000,ETSY,1,2020-04-03,37.222500,weekly,70,5,4,2,14,True
21,2016-06-27,60.748151,ALLE,2,2016-06-29,63.785558,weekly,70,5,4,2,14,True
22,2020-03-12,26.818737,PFE,2,2020-03-13,28.159674,weekly,70,5,4,2,14,True
23,2020-03-23,38.420501,CAH,2,2020-03-24,40.341526,weekly,70,5,4,2,14,True
24,2020-03-25,26.577529,PFE,2,2020-03-26,27.906405,weekly,70,5,4,2,14,True
25,2016-06-27,46.377014,ABBV,3,2016-06-29,48.695865,weekly,70,5,4,2,14,True
26,2016-06-27,77.262004,JKHY,4,2016-06-30,81.125104,weekly,70,5,4,2,14,True