In [1]:
from datetime import datetime
from strategy.stratfact import StratFact
from backtester.backtester import Backtester

In [2]:
start = datetime(2016,1,1)
end = datetime(2021,1,1)

In [4]:
rp = StratFact.create_strat(start,end,"rolling_percent",params= {"timeframe":"daily"
                ,"requirement":3
                ,"days":7
                ,"value":True
                ,"currency":"crypto"})
rp.subscribe()
rpt = Backtester.equity_timeseries_backtest(start,end,5,rp)
rpt

# fp = StratFact.create_strat(start,end,"financial_predict",{})
# s = StratFact.create_strat(start,end,"speculation",{})

rolling_percent_sim: 100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 12.74it/s]

In [5]:
pr = StratFact.create_strat(start,end,"progress_report",params={"timeframe":"quarterly"
                    ,"requirement":10})
pr.subscribe()
prt = Backtester.equity_timeseries_backtest(start,end,pr)
prt

,date,adjclose,ticker,seat,sell_date,sell_price,timeframe,requirement,days,value,currency
0,2016-01-13,432.371002,BTC,0,2016-04-21,445.342132,daily,3,7,True,crypto
1,2016-04-22,7.821260,ETH,0,2016-04-23,8.055898,daily,3,7,True,crypto
2,2016-04-25,7.554340,ETH,0,2016-04-30,7.780970,daily,3,7,True,crypto
3,2016-05-19,438.714996,BTC,0,2016-05-26,451.876446,daily,3,7,True,crypto
4,2016-05-27,11.295800,ETH,0,2016-05-28,11.634674,daily,3,7,True,crypto
5,2016-06-17,15.376800,ETH,0,2017-03-01,15.838104,daily,3,7,True,crypto
6,2017-03-08,16.651300,ETH,0,2017-03-09,17.150839,daily,3,7,True,crypto
7,2017-03-10,1116.719971,BTC,0,2017-03-11,1150.221570,daily,3,7,True,crypto
8,2017-03-17,1100.229980,BTC,0,2017-04-03,1133.236879,daily,3,7,True,crypto
9,2017-04-04,44.641899,ETH,0,2017-04-12,45.981156,daily,3,7,True,crypto
10,2017-05-10,89.524902,ETH,0,2017-05-15,92.210649,daily,3,7,True,crypto
11,2017-05-26,160.403000,ETH,0,2017-05-28,165.215090,daily,3,7,True,crypto
12,2017-06-12,2659.629883,BTC,0,2017-06-23,2739.418779,daily,3,7,True,crypto
13,2017-06-26,272.691986,ETH,0,2017-06-27,280.872746,daily,3,7,True,crypto
14,2017-07-01,274.601013,ETH,0,2017-07-02,282.839043,daily,3,7,True,crypto
15,2017-07-03,282.898010,ETH,0,2017-08-08,291.384950,daily,3,7,True,crypto
16,2017-08-15,289.817993,ETH,0,2017-08-16,298.512533,daily,3,7,True,crypto
17,2017-08-20,4087.659912,BTC,0,2017-08-24,4210.289709,daily,3,7,True,crypto
18,2017-09-02,348.984009,ETH,0,2017-11-20,359.453529,daily,3,7,True,crypto
19,2017-11-29,427.523010,ETH,0,2017-11-30,440.348700,daily,3,7,True,crypto
20,2017-12-06,428.588013,ETH,0,2017-12-08,441.445653,daily,3,7,True,crypto
21,2017-12-20,16624.599609,BTC,0,2018-01-05,17123.337597,daily,3,7,True,crypto
22,2018-01-08,15170.099609,BTC,0,2020-11-11,15625.202597,daily,3,7,True,crypto
23,2020-11-26,518.801147,ETH,0,2020-11-28,534.365181,daily,3,7,True,crypto
24,2020-12-08,554.827759,ETH,0,2020-12-09,571.472592,daily,3,7,True,crypto
25,2020-12-10,559.678528,ETH,0,2020-12-13,576.468884,daily,3,7,True,crypto
26,2020-12-21,609.817871,ETH,0,2020-12-22,628.112407,daily,3,7,True,crypto
27,2020-12-23,583.714600,ETH,0,2020-12-24,601.226038,daily,3,7,True,crypto
28,2021-01-11,1090.145386,ETH,0,2021-01-13,1122.849748,daily,3,7,True,crypto
29,2017-03-08,1150.000000,BTC,1,2017-03-09,1184.500000,daily,3,7,True,crypto
30,2017-07-01,2434.550049,BTC,1,2017-07-03,2507.586550,daily,3,7,True,crypto
31,2020-11-26,17150.623047,BTC,1,2020-11-28,17665.141738,daily,3,7,True,crypto
32,2020-12-08,18321.144531,BTC,1,2020-12-13,18870.778867,daily,3,7,True,crypto
33,2021-01-11,35566.656250,BTC,1,2021-01-13,36633.655937,daily,3,7,True,crypto

In [5]:
# pr = Backtester.equity_timeseries_backtest(start,end,5,rp)

In [6]:
# fpb = Backtester.equity_timeseries_backtest(start,end,4,fp)

In [7]:
# sb = Backtester.equity_timeseries_backtest(start,end,5,s)

single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds
single positional indexer is out-of-bounds

,date,adjClose,ticker,seat,sell_date,sell_price,timeframe,score_requirement,requirement,category_training_year,model_training_year,number_of_training_weeks,value
0,2016-03-28,26.160000,CTLT,0,2016-04-05,27.468000,weekly,70,5,4,2,14,True
1,2016-04-06,27.740000,CTLT,0,2016-04-13,29.127000,weekly,70,5,4,2,14,True
2,2016-04-18,635.350000,AMZN,0,2016-05-02,667.117500,weekly,70,5,4,2,14,True
3,2016-05-03,671.320000,AMZN,0,2016-05-11,704.886000,weekly,70,5,4,2,14,True
4,2016-05-12,23.800000,CTLT,0,2016-05-16,24.990000,weekly,70,5,4,2,14,True
5,2016-05-17,695.270000,AMZN,0,2016-07-06,730.033500,weekly,70,5,4,2,14,True
6,2016-09-20,25.220344,WY,0,2016-09-22,26.481362,weekly,70,5,4,2,14,True
7,2020-01-13,168.100000,ABMD,0,2020-01-15,176.505000,weekly,70,5,4,2,14,True
8,2020-02-03,48.034997,CAH,0,2020-02-06,50.436747,weekly,70,5,4,2,14,True
9,2020-02-24,51.330000,ETSY,0,2020-02-27,53.896500,weekly,70,5,4,2,14,True
10,2020-02-28,84.816619,AEP,0,2020-03-02,89.057450,weekly,70,5,4,2,14,True
11,2020-03-12,44.040000,ETSY,0,2020-03-13,46.242000,weekly,70,5,4,2,14,True
12,2020-03-19,34.660000,ETSY,0,2020-03-24,36.393000,weekly,70,5,4,2,14,True
13,2020-03-25,69.641609,AEP,0,2020-03-26,73.123689,weekly,70,5,4,2,14,True
14,2016-05-13,60.765922,CAT,1,2016-06-02,63.804219,weekly,70,5,4,2,14,True
15,2016-06-27,33.624834,C,1,2016-06-28,35.306075,weekly,70,5,4,2,14,True
16,2016-09-09,25.514975,WY,1,2016-09-22,26.790723,weekly,70,5,4,2,14,True
17,2020-01-13,47.266587,CAH,1,2020-01-15,49.629916,weekly,70,5,4,2,14,True
18,2020-03-12,136.970000,ABMD,1,2020-03-17,143.818500,weekly,70,5,4,2,14,True
19,2020-03-19,140.510000,ABMD,1,2020-03-26,147.535500,weekly,70,5,4,2,14,True
20,2020-04-01,35.450000,ETSY,1,2020-04-03,37.222500,weekly,70,5,4,2,14,True
21,2016-06-27,60.748151,ALLE,2,2016-06-29,63.785558,weekly,70,5,4,2,14,True
22,2020-03-12,26.818737,PFE,2,2020-03-13,28.159674,weekly,70,5,4,2,14,True
23,2020-03-23,38.420501,CAH,2,2020-03-24,40.341526,weekly,70,5,4,2,14,True
24,2020-03-25,26.577529,PFE,2,2020-03-26,27.906405,weekly,70,5,4,2,14,True
25,2016-06-27,46.377014,ABBV,3,2016-06-29,48.695865,weekly,70,5,4,2,14,True
26,2016-06-27,77.262004,JKHY,4,2016-06-30,81.125104,weekly,70,5,4,2,14,True